@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
} /* Firefox */
body {
  -ms-overflow-style: none;
} /* IE and Edge */
body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
  display: none;
} /* Chrome */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg-primary); /* Test this */
  color: var(--color-text-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  :root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-primary: #0b5e62;
    --color-primary-accent: #0e6b70;
    --color-secondary: #e5c466;
    --color-bg-primary: #e9f0ec;
    --color-bg-secondary: #d9e5de;
    --color-text-primary: #062223;
    --color-text-secondary: #485657;
    --color-border-primary: #0b5e6266;
    --color-border-secondary: #b6cce2;
  }
}

.theme-base {
  --color-primary: #0b5e62;
  --color-primary-accent: #0e6b70;
  --color-secondary: #e5c466;
  --color-bg-primary: #e9f0ec;
  --color-bg-secondary: #d9e5de;
  --color-text-primary: #062223;
  --color-text-secondary: #485657;
  --color-border-primary: #0b5e6266;
  --color-border-secondary: #b6cce2;
}
.theme-pink {
  --color-primary: #875dbb;
  --color-primary-accent: #452a6d;
  --color-secondary: #ec488b;
  --color-bg-primary: #ece9f0;
  --color-bg-secondary: #e4dbec;
  --color-text-primary: #130227;
  --color-text-secondary: #625c69;
  --color-border-primary: #b5adbe;
  --color-border-secondary: #b6cce2;
}
